a.anchor {
  text-decoration: underline;
  font-size: 13px;
}

.bg-light {
  background:#F5F7FA;
  min-height: 90vh;
  height: 100%;
}




/* UTILITES */

textarea:hover, 
input[type='text']:hover, 
input[type='number']:hover,
input[type='password']:hover,
input[type='email']:hover,
textarea:active, 
input[type='text']:active, 
input[type='number']:active, 
input[type='email']:active, 
input[type='password']:active, 
textarea:focus, 
input[type='text']:focus,
input[type='number']:focus,
input[type='email']:focus,
input[type='password']:focus,
button:focus,
button:active,
button:hover,
label:focus,
select:focus,
select:active,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}